* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

*::-webkit-scrollbar-track {
	display: none;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-button {
	display: none;
}

*::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 16px;
}